<?xml version="1.0" encoding="utf-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>/workspace/m2-repository/</localRepository>
  <servers>
    <server>
      <id>nexus</id>
      <username>mph</username>
      <password>${env.EBS_NEXUS_PASSWD}</password>
    </server>
    <server>
      <id>eid</id>
      <username>mph</username>
      <password>${env.EBS_NEXUS_PASSWD}</password>
    </server>
    <server>
      <id>eid-snapshots</id>
      <username>mph</username>
      <password>${env.EBS_NEXUS_PASSWD}</password>
    </server>
    <server>
      <id>eIdentity snapshots</id>
      <username>mph</username>
      <password>${env.EBS_NEXUS_PASSWD}</password>
    </server>
    <server>
      <id>eIdentity releases</id>
      <username>mph</username>
      <password>${env.EBS_NEXUS_PASSWD}</password>
    </server>
  </servers>
</settings>
